*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

header{
    text-align:center;
    padding:60px 20px;
    background:#1e1b4b;
}

h1{
    font-size: 10vw;
    letter-spacing: -2px;
}

header h1{
    font-size:50px;
    color:#ff6ec7;
}

header p{
    margin-top:10px;
    color:#d1d5db;
}

section{
    width:80%;
    margin:30px auto;
    padding:25px;
    background:rgba(255,255,255,0.08);
    border-radius:15px;
    transition:0.3s;
}

section:hover{
    transform:translateY(-5px);
}

h2{
    color:#38bdf8;
    margin-bottom:15px;
}

ul{
    list-style:none;
}

li{
    display:inline-block;
    background:#ff6ec7;
    padding:10px 15px;
    margin:5px;
    border-radius:20px;
}

.project{
    background:#334155;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:25px;
    background:#38f858;
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-size:16px;
     transition: all ease 0.5s;
}

button:hover{
    background:#a40ee9;
}

#message{
    margin-top:15px;
    color:#facc15;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:20px;
    margin-top:30px;
    background:#111827;
}